/* Extra large devices (large desktops) */
@media (min-width: 1200px) {}

/* Large devices (Laptops) */
@media (max-width: 1200px) {

    /* about page */
    .muab-phylosophy {
        flex-direction: column;
        gap: 20px;
    }

    .muab-phylosophy img {
        width: 100%;
    }

    .muab-phylosophy .muab-phylosophy-content {
        max-width: 1000px;
        width: 100%;
        align-items: center;
    }

    .muab-phylosophy .muab-phylosophy-content p {
        width: 100%;
        text-align: center;
    }
}

/* Medium devices (tablets) */
@media (max-width: 1095px) {

    header,
    .mu-category-head,
    .mu-bestsellers,
    .mu-lookbook,
    .mu-brand,
    footer,
    .mubs-main,
    .musg,
    .muab-about,
    .mu-navigator,
    .mukl,
    .muct,
    .munf {
        padding-left: 60px;
        padding-right: 60px;
    }

    .mu-lookbook {
        height: 620px;
    }

    /* register page */

    .murg-left {
        padding: 40px 40px 20px 60px;
    }

    .murg-right{
        padding: 60px 60px 0 50px;
    }

    /* not found page */

    .munf .munf-404 h3{
        font-size: 400px;
    }
}

/* Small devices (landscape pads) */
@media (max-width: 895px) {

    header,
    .mu-category-head,
    .mu-bestsellers,
    .mu-lookbook,
    footer,
    .mubs-main,
    .musg,
    .muab-about,
    .muab-phylosophy,
    .muab-form,
    .mu-navigator,
    .mukl,
    .muct,
    .munf {
        padding-left: 20px;
        padding-right: 20px;
    }

    .header__icons .mu-search {
        display: none;
    }

    /* bestsellerPage */

    .mubs-cards .mubs-card h3 {
        font-size: 15px;
    }

    .mubs-cards .mubs-card p {
        font-size: 12px;
    }

    /* singleProductPage */

    .musg .musg-imgs,
    .musg .musg-info {
        width: 48%;
    }

    /* about page */

    .muab-about {
        flex-direction: column;
        gap: 20px;
    }

    .muab-about .muab-about-content {
        align-items: center;
    }

    .muab-about .muab-about-content img {
        height: 32px;
    }

    .muab-phylosophy .muab-phylosophy-content h3 {
        font-size: 32px;
    }

    .muab-about .muab-about-content p,
    .muab-phylosophy .muab-phylosophy-content p {
        font-size: 16px;
        text-align: center;
    }

    .muab-form .muab-form-item {
        width: 100%;
    }

    /* collection page */
    .mukl .mukl-item p {
        font-size: 16px;
    }

    /* register page */

    .murg-left, .murg-right {
        padding: 20px;
    }
}

/* Small devices (landscape pads) */
@media (max-width: 800px) {
    .mu-lookbook .mu-lookbook-full {
        display: none;
    }

    .mu-lookbook {
        height: auto;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .mu-lookbook .mu-lookbook-upper {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        gap: 20px;
    }

    .mu-lookbook .mu-lookbook-upper img {
        width: 50%;
        height: auto;
    }

    .mu-lookbook .mu-lookbook-upper .mu-lookbook__content p {
        width: 80%;
    }

    .mu-lookbook .mu-lookbook-upper .mu-lookbook__content a {
        font-size: 16px;
    }

    .mu-lookbook .mu-lookbook-lower {
        width: 60%;
    }

    .mu-second-brand-text {
        display: none;
    }

    .mu-footer-elements {
        flex-direction: column;
        gap: 20px;
    }

    .mu-footer-contact {
        height: auto;
    }

    /* register page */

    .murg-left .murg-rg-text h3, .murg-left .murg-form h3{
        font-size: 18px;
    }

    .murg-left .murg-rg-text a{
        font-size: 10px;
    }

    .murg-left .murg-form button{
        font-size: 13px;
    }

    .murg-right .murg-right-item .murg-right-item-content h3{
        font-size: 18px;
    }

    .murg-right .murg-right-item .murg-right-item-content p, .murg-right .murg-right-sum .murg-sum p{
        font-size: 12px;
    }

    .murg-form-inputs-delivery .murg-delivery-type p, .murg-form-inputs-delivery .murg-delivery-type .murg-delivery-type-input label{
        font-size: 12px;
    }

    /* not found page */

    .munf .munf-404 h3{
        font-size: 300px;
    }
}

/* Small devices (landscape pads) */
@media (max-width: 700px) {
    nav {
        display: none;
    }

    .fa-bars {
        display: block;
        font-size: 24px;
    }

    /* banner */

    .mu-banner {
        height: 430px;
    }

    .mu-banner .mu-banner__content {
        gap: 8px;
    }

    .mu-banner img {
        height: 30px;
    }

    .mu-banner .mu-banner__content p,
    .mu-banner .mu-banner__content a {
        font-size: 8px;
    }

    .mu-category-head h2 {
        font-size: 24px;
    }

    /* bestseller */

    .mu-bestsellers {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .mu-bestsellers .mu-bestsellers__item {
        max-width: 400px;
        gap: 10px;
    }

    .mu-bestsellers .mu-bestsellers__item img {
        max-height: 370px;
        aspect-ratio: 1/1.5;
    }

    .mu-bestsellers .mu-bestsellers__item .mu-bestsellers__item-content h3 {
        font-size: 15px;
        font-weight: 200;
    }

    .mu-bestsellers .mu-bestsellers__item .mu-bestsellers__item-content p {
        font-size: 11px;
        font-weight: 200;
    }

    /* Collection */
    .mu-collection {
        gap: 20px;
    }

    .mu-collection .mu-collection__item_spring,
    .mu-collection .mu-collection__item_autumn {
        width: 45%;
        aspect-ratio: 1/1.5;
    }

    .mu-collection .mu-collection__item_spring p,
    .mu-collection .mu-collection__item_autumn p {
        font-size: 16px;
    }

    .mu-brand .mu-brand-contently p {
        font-size: 11px;
    }

    /* bestsellerPage */

    .mubs-main aside {
        display: none;
    }

    .mubs-cards {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    /* singleProductPage */

    .musg {
        flex-direction: column;
        gap: 20px;
    }

    .musg .musg-imgs,
    .musg .musg-info {
        width: 100%;
    }

    /* about page */

    .muab-about .muab-about-content p,
    .muab-phylosophy .muab-phylosophy-content p,
    .muab-form p {
        font-size: 12px;
        text-align: center;
    }

    /* collection page */

    .mukl .mukl-item .mukl-item-div p {
        font-size: 22px;
    }

    /* collection page */
    .mukl .mukl-item p {
        font-size: 12px;
    }

    /* contact page */

    .muct .muct__content p,
    .muct .muct__content a {
        font-size: 12px;
    }

    /* register page */

    .murg{
        flex-direction: column;
    }

    .murg-left, .murg-right {
        width: 100%;
    }

    /* not found page */

    .munf .munf-404 h3{
        font-size: 200px;
        line-height: 200px;
    }

    .munf .munf-404 img{
        top: 35%;
        height: 42px;
        width: 42px;
    }
}

/* Small devices (landscape phone) */
@media (max-width: 510px) {

    /* collection */
    .mu-collection .mu-collection__item_spring,
    .mu-collection .mu-collection__item_autumn {
        width: 45%;
        height: 270px;
    }

    .mu-navigator {
        display: none;
    }

    /* bestseller */

    .mu-bestsellers {
        margin-top: 10px;
    }

    /* lookbook */
    .mu-lookbook .mu-lookbook-upper .mu-lookbook__content p,
    .mu-brand .mu-brand-contently p {
        font-size: 8px;
    }

    /* brand */
    .mu-brand {
        padding: 20px;
    }

    /* footer */
    footer,
    .mu-footer-elements {
        align-items: flex-start;
    }

    footer img {
        height: 22px;
    }

    .mu-footer-elements .mu-footer-content {
        flex-direction: column;
        gap: 10px;
    }

    /* bestsellerPage */

    .mubs-cards {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    /* about page */

    .muab-about img {
        width: 100%;
    }

    /* collection page */
    .mukl {
        flex-direction: column;
        gap: 20px;
        padding-top: 20px;
    }

    .mukl .mukl-item {
        width: 100%;
    }

    /* contact page */

    .muct {
        margin-top: 20px;
    }

    .muct .muct__content {
        flex-direction: column;
        gap: 15px;
    }

    .muct .muct__content .muct__content-item p {
        margin: 0;
    }

    /* register page */

    .murg-left .murg-form .murg-form-inputs{
        gap: 7px;
    }

    .murg-left .murg-form .murg-form-inputs input, .murg-left .murg-form .murg-form-inputs select{
        padding: 5px;
        box-sizing: border-box;
        border: 1px solid var(--footer-color);
        width: 48%;
    }

    /* not found page */

    .munf{
        gap: 10px;
    }

    .munf .munf-404 h3{
        font-size: 170px;
        line-height: 170px;
    }

    .munf .munf-404 img{
        top: 22%;
        height: 42px;
        width: 42px;
    }

    .mu-footer-content{
        gap: 10px;
    }

    .mu-footer-content h3{
        font-size: 16px;
    }

    .mu-footer-content a{
        font-size: 12px;
    }
}